<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeTrack</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>You are not lost.</h1>
        <h1>You just don't know your next step.</h1>

        <p class="subtitle">
            Some people aren't failing — they just never had a map.
        </p>

        <a href="/quiz" class="btn">Find Your Path</a>
    </div>

</body>
</html>
